{% extends 'admin/_base.html' %}
{% block content %}
    <div class="card card-info">
        <div class="card-header">
            <div class="card-tools" style="float: left">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-remove"></i>
                </button>
            </div>
            <h3 class="card-title" style="float: right">حمل و نقل هوایی</h3>

        </div>

        <form method="post" class="form-horizontal" enctype="multipart/form-data">
            {% csrf_token %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        <span>{{ message }} .</span>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="card-body">
                <div class="form-group row">
                    <label for="inputbody" class="col-sm-2 control-label">متن</label>
                    <div class="col-sm-10">
                        {{ form.body }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-2 control-label">تصویر</label>
                    <div class="col-sm-10">
                        {{ form.image }}
                    </div>
                </div>

            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <button type="submit" class="btn btn-info">ثبت</button>
            </div>
            <!-- /.card-footer -->
        </form>
        <!-- /.card-body -->
        <div class="card-footer">

        </div>
    </div>
{% endblock %}
