{% extends 'admin/_base.html' %}
{% block form_name %}
    گواهی نامه ها
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-5">
            <div class="card card-info">
                <div class="card-header">
                    <div class="card-tools" style="float: left">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove"><i
                                class="fas fa-remove"></i>
                        </button>
                    </div>
                    <h3 class="card-title" style="float: right"> ثبت </h3>

                </div>
                <form method="post" class="form-horizontal" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">
                                <span>{{ message }} .</span>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="card-body">
                        <div class="form-group row">
                            <label for="inputbody" class="col-sm-2 control-label">نام و نام خانوادگی</label>
                            <div class="col-sm-10">
                                {{ form.name }}
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputbody" class="col-sm-2 control-label">وضعیت</label>
                            <div class="col-sm-10">
                                {{ form.status }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword3" class="col-sm-2 control-label">تصویر</label>
                            <div class="col-sm-10">
                                {{ form.image }}
                            </div>
                        </div>

                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <button type="submit" class="btn btn-info">ثبت</button>
                    </div>
                    <!-- /.card-footer -->
                </form>
            </div>
        </div>
        <div class="col-md-7">
            <div class="card card-info">
                <div class="card-header">
                    <div class="card-tools" style="float: left">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove"><i
                                class="fas fa-remove"></i>
                        </button>
                    </div>
                    <h3 class="card-title" style="float: right">لیست</h3>

                </div>
                <table class="table thead-striped" >
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">نام و نام خانوادگی</th>
                        <th scope="col">تصویر</th>
                        <th scope="col">عملیات</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in certificates %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ item.name }}</td>
                            <td><img src="{{ item.image.url }}" style="width: 60px"></td>
                            <td>

                                <a href="{% url 'transportation_certificate_update' item.id %}" class="btn btn-info btn-sm">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a href="status" class="btn {% if item.status == 1 %}
                                        btn-warning
                                    {% else %}
                                        btn-danger
                                    {% endif %} btn-sm">
                                    {% if item.status == 1 %}
                                        <i class="fa fa-check"></i>
                                    {% else %}
                                        <i class="fa fa-trash"></i>
                                    {% endif %}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
