{% extends 'user/base.html' %}
{% block title %} تغییر گذرواژه {% endblock %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

    <form class="login100-form validate-form" method="post" autocomplete="off" >
        {% csrf_token %}

        <span class="login100-form-logo" >
            <img src="{% static 'logo.png' %}">
        </span>

        <span class="login100-form-title p-b-34 p-t-27" style="font-family: BTitrBold;margin-top: 30px">
            تغییر کلمه عبور
        </span>

        <div class="wrap-input100 validate-input" data-validate = "Enter username">
            <input class="input100" type="password" name="old_password" >
            <span class="focus-input100" data-placeholder="&#xf191;"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Enter password">
            <input class="input100" type="password" name="new_password1" placeholder="Password">
            <span class="focus-input100" data-placeholder="&#xf191;"></span>
        </div>
        <div class="wrap-input100 validate-input" data-validate="Enter password">
            <input class="input100" type="password" name="new_password2" placeholder="Password">
            <span class="focus-input100" data-placeholder="&#xf191;"></span>
        </div>

        <div class="container-login100-form-btn">
            <button class="login100-form-btn" type="submit">
                ثبت
            </button>
        </div>

        <div class="text-center p-t-90">
            <a class="txt1" href="{% url 'user-register' %}">
                ثبت نام?
            </a>
        </div>
    </form>
{% endblock %}
