@font-face {
    font-family: "IRANSans";
    font-style: normal;
    font-weight: bold;
    src: url('../../fonts/IRANSansWeb_Bold.eot');
    src: url('../../fonts/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/IRANSansWeb_Bold.woff') format('woff'),
	url('../../fonts/IRANSansWeb_Bold.ttf') format('truetype');
	font-display: swap;
}
@font-face {
    font-family: "IRANSans";
    font-style: normal;
    font-weight:normal;
    src: url('../../fonts/IRANSansWeb.eot');
    src: url('../../fonts/IRANSansWeb.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/IRANSansWeb.woff') format('woff'),
	url('../../fonts/IRANSansWeb.ttf') format('truetype');
	font-display: swap;
}
@font-face {
    font-family: "IRANSans";
    font-style: normal;
    font-weight: 500;
    src: url('../../fonts/IRANSansWeb_Medium.eot');
    src: url('../../fonts/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/IRANSansWeb_Medium.woff') format('woff'),
	url('../../fonts/IRANSansWeb_Medium.ttf') format('truetype');
	font-display: swap;
}
@font-face {
     font-family: "IRANSans";
    font-weight:normal;
    src: url('../../fonts/IRANSansWeb(FaNum).eot');
    src: url('../../fonts/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'),
	url('../../fonts/IRANSansWeb(FaNum).woff') format('woff'),
	url('../../fonts/IRANSansWeb(FaNum).ttf') format('truetype');
   font-display: swap;
}

body {
    margin: 0;
    padding: 0;
}

.main {
    height: 200vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    direction: rtl;
}

header {
    font-family: IRANSans;
    width: 100%;
    height: 100px;
    background-color: rgba(140, 190, 92, 0.82);
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-part-1 {
    opacity: 0.3;
    width: 100%;
    height: 100%;
    background-image: url("../img/haml-o-naghl.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3rem;
    font-weight: bold;
}

.top-part-2 {
    opacity: 0.3;
    width: 100%;
    height: 100%;
    background-image: url("../img/hero-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3rem;
    font-weight: bold;
}

.bottom-part-1 {
    opacity: 0.3;
    width: 100%;
    height: 100%;
    background-image: url("../img/polimeri.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3rem;
    font-weight: bold;
}

.bottom-part-2 {
    opacity: 0.3;
    width: 100%;
    height: 100%;
    background-image: url("../img/sakhteman.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3rem;
    font-weight: bold;
}

.bottom-part-3 {
    opacity: 0.3;
    width: 100%;
    height: 100%;
    background-image: url("../img/tarkhis.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3rem;
    font-weight: bold;
}

.bottom-part-4 {
    opacity: 0.3;
    width: 100%;
    height: 100%;
    background-image: url("../img/shimeiaie.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3rem;
    font-weight: bold;
}

.top-part-1:hover {
    opacity: 1;
}

.top-part-2:hover {
    opacity: 1;
}

.bottom-part-1:hover {
    opacity: 1;
}

.bottom-part-2:hover {
    opacity: 1;
}

.bottom-part-3:hover {
    opacity: 1;
}

.bottom-part-4:hover {
    opacity: 1;
}

p {
    font-family: IRANSans;
    padding: 0 80px;
    background-color: #3f8f8bcf;
    border-style: dotted;
    border-radius: 20px;
    color: #f1eded;
    font-size: x-large;
}

a {
    color: #f1eded;
}