{% extends '_base.html' %}

{% block content %}
    <div class="container">
        <div class="row">

            <div class="owl-carousel owl-theme">
                <div class="item item-first">
                    <div class="caption">
                        <div class="col-md-offset-1 col-md-10">
                            <h3>مشاوره خانواده</h3>
                            <h1>سامانه نوبت دهی کلینیک تخصصی روان شناسی و مشاوره خانه</h1>
                            <a href="#team" class="section-btn btn btn-default smoothScroll">درخواست مشاوره</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}