{% extends '_base_home.html' %}
{% load static %}
{% block content %}
     <div class="top-part-1">
        <p>
            <a href="{% url 'transportation:transportation' %}">حمل و نقل</a>
        </p>
    </div>
    <div class="top-part-2">
        <p>رنگ</p>
    </div>
    <div class="bottom-part-1">
        <p>
            محصولات پلیمری
        </p>
    </div>
    <div class="bottom-part-2">
        <p>
            محصولات ساختمان
        </p>
    </div>
    <div class="bottom-part-3">
        <p>
            خدمات ترخیص
        </p>
    </div>
    <div class="bottom-part-4">
        <p>
            محصولات شیمیایی
        </p>
    </div>

{% endblock %}