{% extends '_base_transportation.html' %}
{% load static %}

{% block content %}
    <div class="site-section" id="team-section" style="padding: 0;">
        <div class="site-section bg-light" id="pricing-section">
            <div class="container">
                <div class="row mb-5 justify-content-center text-center">
                    <div class="col-md-12">
                        <div class="block-heading-1 aos-init" data-aos="fade-up" data-aos-delay="">
                            <img src="{{ maritime.image.url }}">

                            <h2 style="margin-top: 15px">حمل و نقل دریایی</h2>
                            <hr>
                            <p>
                                {{ maritime.body|safe }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}