{% extends '_base_transportation.html' %}
{% load static %}

{% block content %}
    <div class="site-section" id="team-section" style="padding: 0;">
        <div class="site-section bg-light" id="pricing-section">
            <div class="container">
                <div class="row mb-5 justify-content-center text-center">
                    <div class="col-md-7">
                        <div class="block-heading-1 aos-init" data-aos="fade-up" data-aos-delay="">
                            <h2>حمل و نقل جاده ای</h2>
                            <p>
                                در 40 سال اخیر از هواپیما برای باربری هوایی نیز استفاده شده است. در این مدت با افزایش
                                تقاضا استفاده از این خدمات، شرکت‌های مختلفی اقدام به استفاده از این سرویس کرده‌اند. شرکت
                                جهش تجارت نیز به همین منظور تأسیس شد. امروزه
                                جهش تجارت به‌عنوان مجموعه‌ای معتبر و کامل از سرویس‌های حمل و لجستیک، سهم بزرگی در حمل
                                پروژه‌ها و محموله‌های هوایی در منطقه دارد.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}