{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% block title %} ویرایش پروفایل {% endblock %}
{% block content %}
    <br>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>{% endfor %}
    {% endif %}

    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">تغییر کلمه عبور</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <form method="POST">
                    {% csrf_token %}
                    <div class="box-body">
                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="password" name="password" class="form-control" placeholder="کلمه عبور را وارد کنید ..." required="required">
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary"> ثبت</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}


