{% extends 'user/base.html' %}
{% block title %}ورود به برنامه {% endblock %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <form class="form-default" method="post" autocomplete="off">
        {% csrf_token %}
        <div class="login-form">
            <!-- logo-login -->
            <div class="logo-login">
                <a href="{% url 'home-index' %}"><img src="{% static 'home/img/logo/loder.png' %}" alt=""></a>
            </div>
            <h2>Login Here</h2>
            <div class="form-input">
                <label for="name">Email</label>
                <input type="email" name="email" placeholder="email">
            </div>

            <div class="form-input pt-30">
                <input type="submit" name="submit" value="تغییر کلمه عبور">
            </div>

            <!-- Forget Password -->
            <a href="{% url 'user-login' %}" class="forget"> ورود </a>
            <!-- Forget Password -->
            <a href="{% url 'user-register' %}" class="registration"> ثبت نام </a>
        </div>
    </form>



{% endblock %}
<form class="login100-form validate-form" method="post" autocomplete="off" >
        {% csrf_token %}

        <span class="login100-form-logo" >
            <img src="{% static 'logo.png' %}">
        </span>

        <span class="login100-form-title p-b-34 p-t-27" style="font-family: BTitrBold;margin-top: 30px">
            بازیابی کلمه عبور
        </span>

        <div class="wrap-input100 validate-input" data-validate = "Enter Email">
            <input class="input100" type="email" name="email" >
            <span class="focus-input100" data-placeholder="&#xf003;"></span>
        </div>

        <div class="container-login100-form-btn">
            <button class="login100-form-btn" type="submit">
                ثبت
            </button>
        </div>

        <div class="text-center p-t-90">
            <a class="txt1" href="{% url 'user-register' %}">
                ثبت نام?
            </a>
        </div>
    </form>